<a href="#" id="open-left" class="left-menu left"><i class="icon-menu"></i></a>
<a href="#" id="items-add" class="right"><i class="icon-plus"></i></a>
<!--
<a href="#" id="items-edit" class="right"><i class="icon-pencil"></i></a>
<a href="#" id="items-done" class="right hide"><i class="icon-ok"></i></a>
-->
<h1><span id="items-title">All Items</span> (<span id="item-count"></span>)</h1>