<a href="#" class="visuallyhidden">
  <i class="icon-arrow-combo"></i>
</a>
<%= title %>
<a href="#" class="item-tick">
  <i class="icon-ok"></i>
</a>
<a href="#" class="visuallyhidden">
  <i class="icon-cancel"></i>
</a>