<div class="input-wrapper add-item-wrapper clearfix">

  <input type="text" placeholder="Add an item" class="add-item">

  <button class="button-add-item"><i class="icon-plus"></i></button>

</div>

<ul id="content-list" class="unstyled-list get-list"></ul>