<form id="form-edit-item">

	<div class="input-wrapper right-drawer-adjust">

	  <input id="form-item-name" type="text" placeholder="Name your item" class="add-item" value="<%= title %>">

	</div>

	<div class="input-wrapper right-drawer-adjust">

	  <div class="relative select-wrapper">

	    <i class="icon-down-open combo-icon"></i>

	    <select name="form-item-list" id="form-item-list">
	      <option value="">Add this item to a list</option>
	      <option value="">------------------</option>
	    </select>

	  </div>

	  <button type="submit" class="form-item-update">Update</button>

	</div>

</form>