<a href="#" id="open-left" class="left-menu left"><i class="icon-menu"></i></a>
<a href="#" id="items-edit" class="right"><i class="icon-edit"></i></a>
<a href="#" id="items-done" class="right hide"><i class="icon-ok"></i></a>

<h1>All Items (<span id="item-count"></span>)</h1>