<ul id="filter-control" class="unstyled-list get-list hide">
	<li>
		<span id="filter-text" class="bold"></span>
		<a href="#" id="filter-remove" class="right"><i class="icon-cancel"></i></a>
	</li>
</ul>

<ul id="content-list" class="unstyled-list get-list"></ul>