<div class="left-drawer-adjust">

  <div class="input-wrapper">

    <input type="text" placeholder="Add a list" class="add-item">

  </div>

  <ul id="list-list" class="unstyled-list get-list"></ul>

</div>