<a href="#" class="hide">
  <i class="icon-arrow-combo"></i>
</a>
<%= title %>
<a href="#" class="list-tick">
  <i class="icon-right-open"></i>
</a>
<a href="#" class="list-remove hide">
  <i class="icon-cancel"></i>
</a>