<div class="left-drawer-adjust">

  <div class="input-wrapper add-item-wrapper clearfix">

    <input type="text" placeholder="Add a list" class="add-item" maxlength="20">

    <button class="button-add-list"><i class="icon-plus"></i></button>

  </div>

  <ul id="list-list" class="unstyled-list get-list"></ul>

</div>