<div class="left-drawer-adjust">

	<form id="form-add-list">

		<div class="input-wrapper notification hide">

			<i class=""></i> 
			<span id="notification-text"></span>
			
		</div>

  	<div class="input-wrapper">

	    <input type="text" placeholder="Add a list" class="add-item" maxlength="20">

	  </div>

	  <div class="input-wrapper">

		  <button type="submit" class="button-add-list">Submit</button>

		</div>

  </form>

  <ul id="list-list" class="unstyled-list get-list margin-top"></ul>

</div>