<!-- <a href="#" class="hide">
  <i class="icon-arrow-combo"></i>
</a> -->
<input type="text" value="<%= title %>" class="list-title-input inline-input hide" maxlength="30">
<span class="list-title">
	<%= title %>
</span>
<a href="#" class="list-edit right">
  <i class="icon-pencil"></i>
</a>
<a href="#" class="list-remove right hide">
  <i class="icon-cancel"></i>
</a>
<a href="#" class="list-update right hide">
  <i class="icon-ok"></i>
</a>