<h1 class="left">Lists (<span id="list-count"></span>)</h1>

<a href="#" id="lists-edit" class="right"><i class="icon-edit"></i></a>
<a href="#" id="lists-done" class="right hide"><i class="icon-ok"></i></a>