<!-- <a href="#" class="hide">
  <i class="icon-arrow-combo"></i>
</a> -->
<input type="text" value="<%= title %>" class="list-title-input inline-input hide">
<span class="list-title">
	<%= title %>
</span>
<a href="#" class="list-tick right">
  <i class="icon-right-dir"></i>
</a>
<a href="#" class="list-remove right hide">
  <i class="icon-cancel"></i>
</a>