/* 
buttons.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* Buttons */
/* line 9, ../sass/buttons.scss */
button {
  font-weight: 600;
  cursor: pointer;
  background: white;
  border-color: #dddddd;
}

/* line 23, ../sass/buttons.scss */
.form-item-delete {
  background: red;
  color: white;
  border: none;
}
