/* 
layout.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* Box sizing */
/* line 12, ../sass/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML & Body */
/* line 18, ../sass/layout.scss */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* line 23, ../sass/layout.scss */
html {
  background: #f9f9f9;
}

/* Positioning */
/* line 28, ../sass/layout.scss */
.tall {
  height: 100%;
}

/* line 32, ../sass/layout.scss */
.relative {
  position: relative;
}

/* line 36, ../sass/layout.scss */
.absolute {
  position: absolute;
}

/* line 40, ../sass/layout.scss */
.fixed {
  position: fixed;
}

/* Content area */
/* line 45, ../sass/layout.scss */
.content-wrapper {
  background: #f9f9f9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
  padding: 67px 0 0.6rem 0;
  -webkit-box-shadow: #cccccc 0 0 8px;
  -moz-box-shadow: #cccccc 0 0 8px;
  box-shadow: #cccccc 0 0 8px;
}

/* line 64, ../sass/layout.scss */
.scrollable {
  overflow: auto;
}

/* Drawers */
/* line 69, ../sass/layout.scss */
.drawers {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9f9f9;
}

/* line 78, ../sass/layout.scss */
.left-drawer,
.right-drawer {
  top: 0;
  left: 0;
  width: 266px;
  bottom: 0;
  z-index: 3;
  background: #f9f9f9;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* line 96, ../sass/layout.scss */
.left-drawer {
  z-index: 3;
  padding-top: 55px;
}

/* line 101, ../sass/layout.scss */
.right-drawer {
  left: auto;
  right: 0;
  z-index: 2;
}

/* Drawers */
/* line 108, ../sass/layout.scss */
.drawers h1 {
  padding: 0 0 0 1.8rem;
}

/* line 112, ../sass/layout.scss */
.snapjs-right .left-drawer {
  left: auto;
  right: 0;
  z-index: 1;
}
