/* 
layout.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* Box sizing */
/* line 10, ../sass/layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML & Body */
/* line 16, ../sass/layout.scss */
html,
body {
  height: 100%;
}

/* line 20, ../sass/layout.scss */
html {
  background: #f9f9f9;
}

/* Top bar */
/* line 25, ../sass/layout.scss */
.top-bar {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
