/* 
lists.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* 
_mixins.scss
*/
/* Imports */
/* Unstyled links */
/* Clearfix */
/* Lists */
/* line 10, ../sass/lists.scss */
.unstyled-list ul {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/lists.scss */
.unstyled-list li {
  margin: 0;
  padding: 0 0 0 1.2rem;
  width: 100%;
  height: 44px;
  list-style: none;
  display: block;
  line-height: 4.2rem;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../sass/lists.scss */
.unstyled-list a {
  width: 100%;
  color: #222222;
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
  float: right;
}

/* line 38, ../sass/lists.scss */
.unstyled-list i {
  line-height: 4.4rem;
}

/* line 42, ../sass/lists.scss */
.item-list li {
  border-bottom: 1px solid #dddddd;
}

/* line 46, ../sass/lists.scss */
.item-list a {
  border-left: 1px solid #dddddd;
}
