/* 
nav.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* 
_mixins.scss
*/
/* Imports */
/* Unstyled links */
/* Clearfix */
/* line 12, ../sass/nav.scss */
.toolbar {
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 5px 0;
  border-bottom: 1px solid #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
  background-image: -moz-linear-gradient(#ffffff, #f9f9f9);
  background-image: -o-linear-gradient(#ffffff, #f9f9f9);
  background-image: linear-gradient(#ffffff, #f9f9f9);
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}

/* line 26, ../sass/nav.scss */
.toolbar a {
  color: #333333;
  text-decoration: none;
  padding: 0 1.2rem;
  height: 44px;
  text-align: center;
  margin: 0;
}

/* line 36, ../sass/nav.scss */
.toolbar i {
  line-height: 4.4rem;
}

/* line 40, ../sass/nav.scss */
.toolbar h1 {
  font-size: 1.6rem;
  line-height: 4.4rem;
  font-weight: bold;
}
