/* 
nav.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* line 8, ../sass/nav.scss */
.top-bar a {
  color: #222222;
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* line 18, ../sass/nav.scss */
.top-bar a.left {
  border-right: 1px solid #dddddd;
}

/* line 22, ../sass/nav.scss */
.top-bar a.right {
  border-left: 1px solid #dddddd;
}

/* line 26, ../sass/nav.scss */
.top-bar i {
  line-height: 4.4rem;
}
