/* 
demo.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* 
_mixins.scss
*/
/* Imports */
/* Unstyled links */
/* Clearfix */
/* line 11, ../sass/snap.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 22, ../sass/snap.scss */
.tall {
  height: 100%;
}

/* line 26, ../sass/snap.scss */
.relative {
  position: relative;
}

/* line 30, ../sass/snap.scss */
.absolute {
  position: absolute;
}

/*.left {
	float: left;
}
.right {
	float: right;
}*/
/* line 41, ../sass/snap.scss */
.toolbar {
  top: 0;
  left: 0;
  right: 0;
  background: white;
  /*border-bottom: 1px solid #111b32;*/
  padding: 5px;
  border-bottom: 1px solid #dddddd;
}

/* line 52, ../sass/snap.scss */
.toolbar a {
  color: #222222;
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px solid #dddddd;
  background: #f9f9f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 65, ../sass/snap.scss */
.toolbar i {
  line-height: 4.2rem;
}

/* line 69, ../sass/snap.scss */
.toolbar h1 {
  position: absolute;
  left: 55px;
  width: 100%;
  font-size: 2rem;
  line-height: 4.8rem;
  padding: 0 0 0 1.2rem;
  font-weight: bold;
}

/* line 79, ../sass/snap.scss */
.toolbar a.right {
  margin-left: 5px;
}

/* line 97, ../sass/snap.scss */
#content {
  background: #f9f9f9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 107, ../sass/snap.scss */
.drawers {
  background: #222222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 116, ../sass/snap.scss */
.left-drawer,
.right-drawer {
  top: 0;
  left: 0;
  width: 265px;
  bottom: 0;
  background: #222222;
  color: #eee;
  overflow: auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* line 133, ../sass/snap.scss */
.left-drawer {
  z-index: 3;
}

/* line 137, ../sass/snap.scss */
.right-drawer {
  left: auto;
  right: 0;
  z-index: 2;
}

/* Drawers */
/* line 145, ../sass/snap.scss */
.drawers h1 {
  font-size: 1.4rem;
  line-height: 4.2rem;
  padding: 0 0 0 1.2rem;
  font-weight: bold;
}

/* line 152, ../sass/snap.scss */
.drawers .unstyled-list li {
  border-bottom: 1px solid #666666;
}

/* line 168, ../sass/snap.scss */
.drawers .top-bar {
  border-bottom: 1px solid #666666;
}

/* line 177, ../sass/snap.scss */
.drawer-list li {
  margin: 0 5px 5px 5px;
  padding: 0 0 0 1.2rem;
  height: 44px;
  display: block;
  line-height: 4.2rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
}

/* line 188, ../sass/snap.scss */
.drawer-list a {
  width: 100%;
  color: white;
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border-left: 1px solid #dddddd;
  float: right;
}

/* line 201, ../sass/snap.scss */
.drawer-list i {
  line-height: 4.4rem;
  color: #dddddd;
}

/* line 246, ../sass/snap.scss */
.snapjs-right .left-drawer {
  left: auto;
  right: 0;
  z-index: 1;
}

/* line 252, ../sass/snap.scss */
#open-left {
  /*background: url(open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;*/
}

/* line 260, ../sass/snap.scss */
#no-drag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100px;
  margin-left: -25%;
  margin-top: -50px;
  background: red;
  color: #FFF;
  text-align: center;
  line-height: 100px;
}

/* line 274, ../sass/snap.scss */
.toggler {
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 285, ../sass/snap.scss */
.search {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 293, ../sass/snap.scss */
#search {
  height: 30px;
  width: 87%;
  margin: 7px 7px 0 7px;
  background: linear-gradient(#414a5a, #4c5464);
  background: -webkit-linear-gradient(#414a5a, #4c5464);
  padding-left: 15px;
  border: 1px solid #222936;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
}

/* line 315, ../sass/snap.scss */
#search:focus {
  outline: none;
  border-color: #151515;
}

/* line 321, ../sass/snap.scss */
.left-drawer,
.right-drawer {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 328, ../sass/snap.scss */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 336, ../sass/snap.scss */
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}

/* line 341, ../sass/snap.scss */
.snapjs-expand-left .left-drawer,
.snapjs-expand-right .right-drawer {
  width: 100%;
}

/* line 345, ../sass/snap.scss */
.opt {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 350, ../sass/snap.scss */
.opt p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: #222;
  color: rgba(0, 0, 0, 0.6);
}
