/* 
demo.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* 
_mixins.scss
*/
/* Imports */
/* Unstyled links */
/* Clearfix */
/* line 11, ../sass/snap.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 22, ../sass/snap.scss */
.tall {
  height: 100%;
}

/* line 26, ../sass/snap.scss */
.relative {
  position: relative;
}

/* line 30, ../sass/snap.scss */
.absolute {
  position: absolute;
}

/*.left {
	float: left;
}
.right {
	float: right;
}*/
/* line 41, ../sass/snap.scss */
.toolbar {
  display: static;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  /*border-bottom: 1px solid #111b32;*/
  border-bottom: 1px solid #dddddd;
}

/* line 53, ../sass/snap.scss */
.toolbar a {
  color: #333333;
  text-decoration: none;
  padding: 0 1.2rem;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
  border-right: 1px solid #dddddd;
}

/* line 68, ../sass/snap.scss */
.toolbar i {
  line-height: 4.4rem;
}

/* line 72, ../sass/snap.scss */
.toolbar h1 {
  font-size: 1.4rem;
  line-height: 4.4rem;
  margin: 0 0 0 6rem;
  font-weight: bold;
}

/* line 79, ../sass/snap.scss */
.toolbar a.right {
  border-left: 1px solid #dddddd;
  border-right: none;
}

/* line 98, ../sass/snap.scss */
#content {
  background: #f9f9f9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 5px;
}

/* line 117, ../sass/snap.scss */
.scrollable {
  overflow: auto;
}

/* line 121, ../sass/snap.scss */
.drawers {
  background: #333333;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 130, ../sass/snap.scss */
.left-drawer,
.right-drawer {
  top: 0;
  left: 0;
  width: 266px;
  bottom: 0;
  background: #111111;
  color: #eee;
  overflow: auto;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
  -webkit-transition-duration: .2s, .2s;
  transition-duration: .2s, .2s;
  -webkit-transition-timing-function: linear, linear;
  transition-timing-function: linear, linear;
  -webkit-overflow-scrolling: touch;
}

/* line 147, ../sass/snap.scss */
.left-drawer {
  z-index: 3;
}

/* line 151, ../sass/snap.scss */
.right-drawer {
  left: auto;
  right: 0;
  z-index: 2;
}

/* Drawers */
/* line 159, ../sass/snap.scss */
.drawers h1 {
  font-size: 1.4rem;
  line-height: 4.2rem;
  padding: 0 0 0 1.2rem;
  font-weight: bold;
}

/* line 170, ../sass/snap.scss */
.drawers .unstyled-list a {
  border-left: none;
}

/* line 182, ../sass/snap.scss */
.drawers .top-bar {
  border-bottom: 1px solid #333333;
}

/* line 195, ../sass/snap.scss */
.drawer-list li {
  border-bottom: 1px solid #333333;
  margin: 0;
  padding: 0 0 0 1.2rem;
  height: 44px;
  display: block;
  line-height: 4.2rem;
  overflow: hidden;
  *zoom: 1;
}

/* line 211, ../sass/snap.scss */
.drawer-list a {
  color: white;
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  margin: 0;
  float: right;
}

/* line 224, ../sass/snap.scss */
.drawers i {
  line-height: 4.4rem;
  color: #dddddd;
}

/* line 229, ../sass/snap.scss */
.drawers a {
  color: white;
}

/* line 270, ../sass/snap.scss */
.snapjs-right .left-drawer {
  left: auto;
  right: 0;
  z-index: 1;
}

/* line 276, ../sass/snap.scss */
#open-left {
  /*background: url(open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;*/
}

/* line 284, ../sass/snap.scss */
#no-drag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100px;
  margin-left: -25%;
  margin-top: -50px;
  background: red;
  color: #FFF;
  text-align: center;
  line-height: 100px;
}

/* line 298, ../sass/snap.scss */
.toggler {
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 309, ../sass/snap.scss */
.search {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}

/* line 317, ../sass/snap.scss */
#search {
  height: 30px;
  width: 87%;
  margin: 7px 7px 0 7px;
  background: linear-gradient(#414a5a, #4c5464);
  background: -webkit-linear-gradient(#414a5a, #4c5464);
  padding-left: 15px;
  border: 1px solid #222936;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 2px -1px rgba(255, 255, 255, 0.4);
}

/* line 339, ../sass/snap.scss */
#search:focus {
  outline: none;
  border-color: #151515;
}

/* line 345, ../sass/snap.scss */
.left-drawer,
.right-drawer {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 352, ../sass/snap.scss */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 360, ../sass/snap.scss */
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}

/* line 365, ../sass/snap.scss */
.snapjs-expand-left .left-drawer,
.snapjs-expand-right .right-drawer {
  width: 100%;
}

/* line 369, ../sass/snap.scss */
.opt {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 374, ../sass/snap.scss */
.opt p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: #222;
  color: rgba(0, 0, 0, 0.6);
}
