/* 
typography.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* Font setup */
/* line 10, ../sass/typography.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../sass/typography.scss */
body {
  font-size: 1.4rem;
  /* =14px */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #222222;
}

/* Headers */
/* line 22, ../sass/typography.scss */
h1 {
  font-size: 2.4rem;
  /* =24px */
}

/* Icons */
/* line 27, ../sass/typography.scss */
i {
  font-size: 1.8rem;
}

/* Links */
