/* 
typography.scss
*/
/* Imports */
/*
_variables.scss
*/
/* Fonts */
/* Colours */
/* Borders */
/* Padding */
/* Margins */
/* Dimensions */
/* Font setup */
/* line 10, ../sass/typography.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../sass/typography.scss */
body {
  font-size: 1.4rem;
  /* =14px */
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #333333;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 24, ../sass/typography.scss */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* Headers */
/* line 31, ../sass/typography.scss */
h1 {
  font-size: 2.4rem;
  /* =24px */
}

/* Icons */
/* line 36, ../sass/typography.scss */
i {
  font-size: 1.8rem;
  /* =18px */
  color: #333333;
}

/* Styling */
/* line 43, ../sass/typography.scss */
.bold {
  font-weight: bold;
}
