/* line 4, ../sass/typography.scss */
html {
  font-size: 62.5%;
}

/* line 8, ../sass/typography.scss */
body {
  font-size: 1.4rem;
  /* =14px */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #222222;
}

/* line 15, ../sass/typography.scss */
h1 {
  font-size: 2.4rem;
  /* =24px */
}
