/*
utilities
*/
/* Imports */
/* line 9, ../sass/utilities.scss */
.right {
  display: inline;
  float: right;
}

/* line 13, ../sass/utilities.scss */
.left {
  display: inline;
  float: left;
}

/* Clearfix */
/* line 19, ../sass/utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
