/*
_variables.scss
*/

/* Fonts */
$baseFontSize: 1.4rem; 

/* Colours */
$white: #fff;
$black: #000;
$grayDarkest: #222;
$grayDarker: #333;
$grayDark: #666;
$gray: #999;
$grayLight: #ccc; 
$grayLighter: #ddd;
$grayLightest: #f9f9f9;

$lightBlue: #179DC2;
$darkBlue: #1785A3;

$green: #339966;
$red: red;

/* Borders */
$borderWidth: 1px;
$borderStyle: solid;
$borderColour: $grayLighter;

$default-border-radius: 5px;

$defaultBorder: $borderWidth $borderStyle $borderColour;

/* Padding */
$defaultPadding: 1.2rem;

/* Margins */
$defaultMargin: 1.2rem;

/* Dimensions */
$defaultButtonHeight: 44px;
$defaultButtonWidth: 44px;