/* 
buttons.scss
*/

/* Imports */
@import "_variables";

/* Buttons */
button {
	font-weight: 600;
	cursor: pointer;
	// margin-top: $defaultMargin;
	// color: $white;
	background: $white;
	border-color: $grayLighter;
	// border-bottom: $borderWidth $borderStyle $grayLight;
}

.form-item-delete {
	background: red;
	color: $white;
	border: none;
}