/* 
buttons.scss
*/

/* Imports */
@import "_variables";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

/* Buttons */
button {
	font-weight: 600;
	cursor: pointer;
	// margin-top: $defaultMargin;
	// color: $white;
	
	@include background-image(linear-gradient($white, $grayLightest));
	// border-color: $grayLight;
}

button[type="submit"] {
	@include box-shadow($gray 0 1px 3px);
	border-bottom: none;
	// margin-top: $defaultMargin; 
}

.form-item-delete {
	background: red;
	color: $white;
	border: none;
}