/* 
lists.scss
*/

/* Imports */
@import "_variables";
@import "_mixins";

/* Lists */
.unstyled-list ul {
	margin: 0;
	padding: 0;
}

.unstyled-list li {
	margin: 0;
	padding: 0 0 0 $defaultPadding;
	width: 100%;
	height: $defaultButtonHeight;
	list-style: none;
	display: block;
	line-height: 4.2rem;
	@include clearfix();
}

.unstyled-list a {
	width: 100%;
	color: $grayDarker;
	width: $defaultButtonWidth;
	height: $defaultButtonHeight;
	display: inline-block;
	text-align: center;
	margin: 0;
	// padding-top: 1.3rem; // 44px - 18px = 26px / 2 = 13px;
	float: right;
}

.unstyled-list i {
	line-height: 4.4rem;
}

.item-list li {
	border-bottom: $defaultBorder;
}

.item-list a {
	border-left: $defaultBorder;
}