/* 
lists.scss
*/

/* Imports */
@import "_variables";
@import "_mixins";
@import "compass/css3/border-radius";

/* Lists */
.unstyled-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.get-list {

	li {
		background: $white;
		margin: 0 $defaultPadding/2 $defaultPadding/2 $defaultPadding/2;
		padding: 0 0 0 $defaultPadding;
		height: $defaultButtonHeight;
		display: block;
		line-height: 4.2rem;
		border: $defaultBorder;
		cursor: pointer;
		@include border-radius($default-border-radius);
		@include clearfix();
	}

	a {
		position: relative;
		z-index: 2;
		width: 100%;
		color: $grayDarker;
		background: $white;
		width: $defaultButtonWidth;
		height: $defaultButtonHeight;
		// display: inline-block;
		text-align: center;
		margin: 0;
		border-left: $defaultBorder;
	}

	// a:first-child i {
	// 	line-height: 4.4rem;
	// 	// color: $grayLight; 
	// }

	.active .item-tick i {
		color: $grayLight;
	}

	.completed .item-tick i {
		color: $green;
	}

	.item-tick {
		// border-left: none;
		// border-right: $defaultBorder;
		// margin-right: $defaultMargin;
	}

	.item-remove {
		// border-left: $defaultBorder;
	}

}