/* 
nav.scss
*/

/* Imports */
@import "_variables";
@import "_mixins";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";

.toolbar {
	z-index: 5; 
	top: 0;
	left: 0;
	right: 0;
	background: $white; 
	padding: 5px 0;
	// border-bottom: $defaultBorder;
	@include box-shadow($gray 0 1px 3px);
	@include background-image(linear-gradient($white, $grayLightest));
	text-align: center;
	@include clearfix();
}

.toolbar a {
	color: $grayDarker;
	text-decoration: none;
	padding: 0 $defaultPadding;
	height: $defaultButtonHeight;
	// display: inline-block;
	text-align: center;
	margin: 0;
}

.toolbar i {
	line-height: 4.4rem; 
}

.toolbar h1 {
	font-size: 1.6rem;
	line-height: 4.4rem;
	font-weight: bold;
}

.toolbar a.left {
	border-right: $defaultBorder;
}

.toolbar a.right {
	border-left: $defaultBorder;
}
