/* 
nav.scss
*/

/* Imports */
@import "_variables";

.top-bar a {
	color: $grayDarker;
	width: $defaultButtonWidth;
	height: $defaultButtonHeight;
	display: inline-block;
	text-align: center;
	margin: 0;
	// padding-top: 1.3rem; // 44px - 18px = 26px / 2 = 13px;
}

.top-bar a.left {
	border-right: $defaultBorder;
}

.top-bar a.right {
	border-left: $defaultBorder;
}

.top-bar i {
	line-height: 4.4rem;
}