/* 
typography.scss
*/

/* Imports */
@import "compass/typography/links";
@import "_variables";

/* Font setup */
html { 
	font-size: 62.5%; 
}

body {
	font-size: $baseFontSize; /* =14px */
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: $grayDarker;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

	// Stop any text size changes 
	body {
		-webkit-text-size-adjust: none;
	}

}

/* Headers */
h1 { 
	font-size: 2.4rem; /* =24px */
}

/* Icons */
i {
	font-size: 1.8rem; /* =18px */
	color: $grayDarker;
}

/* Styling */

.bold { 
	font-weight: bold; 
}
