/* 
typography.scss
*/

/* Imports */
@import "compass/typography/links";
@import "_variables";

/* Font setup */
html { 
	font-size: 62.5%; 
} 

body {
	font-size: $baseFontSize; /* =14px */
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: $grayDarker;
}

/* Headers */
h1 { 
	font-size: 2.4rem; /* =24px */
}

/* Icons */
i {
	// font-size: 1.6rem;
}

/* Links */
