/*
utilities
*/

/* Imports */
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

.right {
	@include float(right);
}

.left {
	@include float(left);
}

/* Clearfix */
.clearfix {
  overflow: hidden;
  @include has-layout;
}

.left-drawer-adjust {
	padding-right: 3px;
}

.right-drawer-adjust {
	padding-left: 3px;
}