/*
utilities
*/

/* Imports */
@import "_variables";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

.right {
	@include float(right);
}

.left {
	@include float(left);
}

/* Clearfix */
.clearfix {
  overflow: hidden;
  @include has-layout;
}

.left-drawer-adjust {
	padding-right: 3px;
  // We need to match the drawer width as the left drawer is static
  width: 266px;
}

.right-drawer-adjust {
	padding-left: 3px;
}

/* Visibility */

.hide {
	display: none;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

/* Padding */

.padding-top {
  padding-top: $defaultPadding/1.6;
}